
      <% @posts.each do |post| %>

      <br><br>
      <div>

      <%= link_to post.name, post_path(post)  %> <br>by <%=post.user ? post.user.email : '' %>
    </div>

    <hr>




      </li>
    </ul>
    <% end %>
